---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/ELayout.astro";
import { getEntries } from "astro:content";
import BlogCard from "../../components/cards/BlogCard.astro";
import NewsLetter from "@components/forms/NewsLetter.astro";


export const getStaticPaths = (async () => {
    const post = await getCollection("blog");
    return post.map( post => {
        return {
            params: { id: post.id },
            props: {post}
        }
    });
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter  } = await render(post);

const relatedPosts = await getEntries(post.data.relatedPosts);


const headerInfo = {
	description : post.data.description,
	title: post.data.title,
	keywords: post.data.tags,
};
---

<Layout {...headerInfo}>

    <section style="max-width: 720px;" class="container mx-auto">
        

        <img class="w-100 object-fit-cover mb-4" src={post.data.image.src} alt={post.data.image.alt} alt="">

        <nav class="nav justify-content-between gap-2 border-bottom" aria-label="tags list">

            <div>
                {remarkPluginFrontmatter.minutesRead} <i class="bi bi-dot"></i> {post.data.publishDate.toDateString()} <br/>
                <b>Tags:</b> {post.data.tags.map( tag => <a class="me-2 small text-info" href={`/post/${tag}-0`}>{tag}</a>)}
            </div>

            <div class="nav col-12 gap-2">
                <strong>Written by: </strong> <p class="smaller">{post.data.author} <i class="bi bi-dot"></i> {post.data.authorContact} <i class="bi bi-dot"></i> health care specialist</p>
            </div>

        </nav>

        <main class="content mt-2">
            <Content />
        </main>

        <button onclick="javascript:window.history.back()" class="btn btn-sm text-primary">
            <i class="bi bi-arrow-left"></i> Return
        </button>




        <NewsLetter />

        <section class="container-sm">

            <h1 class="my-4">Similar Posts:</h1>

            <div class="row row-cols-2 g-3">
                { relatedPosts[0] && relatedPosts.map( post => <div style="max-width: 26rem;" class="col">
                    <BlogCard post={post} />
                </div> )}

                { !relatedPosts[0] ?  <h3 class="text-swanky">Sorry no related post available.</h3> : <></> }
            </div>
        </section>

    </section>

    

</Layout>

<style is:global>
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    img {
        margin: auto;
    }

    .content {
        white-space: 12px;

        & img {
            border-radius: 1rem;
            width: 100%;
            object-fit: contain;
        }
    }
</style>