---

import type { CollectionEntry } from 'astro:content'

interface Props {
    post: CollectionEntry<"blog">;
}


const { post } = Astro.props;

---

<div class="card border-0">
    <img style="height: 230px;" src={post.data.image.src} alt={post.data.image.alt} class="card-img-top" />

    <div  class="card-body">
        <div class="nav gap-1 small py-3">
            {post.data?.tags.map( tag => <span class="badge bg-danger-subtle ">{tag}, </span>)}
        </div>
        <a href={`/blog/${post.id}`}>
            <h5 class="card-title lh-sm">{post.data.title}</h5>
            <p class="card-text">{post.data.description}</p>
            <div class="nav justify-content-between small">
                <span>{post.data.publishDate.toDateString().substring(4)}</span>
                <i>{post.data.author}</i>
            </div>
        </a>
    </div>

</div>