---
import Header from "@components/headers/Headers.astro";
import Layout from "@layouts/ELayout.astro";
import BreadCrumb from "@components/headers/BreadCrumb.astro";
import NewsLetter from "@components/forms/NewsLetter.astro";

const headerInfo = {
	description: "We will get to you as soon as possible",
	title: "Contact Us",
	keywords: [],
};

const link = Astro.url;
---

<Layout {...headerInfo}>
	<BreadCrumb />

	<Header title={headerInfo.title} description={headerInfo.description} />

	<section
		style="max-width: 968px;"
		class="container row g-2 align-items-center mx-auto p-3 mb-4"
	>
		<div data-iobs="slide-left" class="col-12 mb-3 fs-semibold">
			<span>We are Open and online:</span>
			<span class="ms-2 float-md-end text-info"
				>Monday - Friday 7am-7pm EST</span
			>
		</div>

		<div class="col-sm-6 col-md-4 ps-3 box border-start">
			<h3 class="text-zeyada text-info">Email Us</h3>
			<p class="small">
				info@my-domain.com <span class="vr mx-1"></span> suppport@my-domain.com
			</p>
		</div>

		<div class="box col-sm-6 col-md-4 ps-3 border-start">
			<h3 class="text-zeyada text-info">Call Us</h3>
			<p class="small">
				(123) 456-7890 <span class="vr mx-1"></span> (123) 456-7890
			</p>
		</div>

		<div class="box col-md-4 ps-3">
			<h3 class="text-zeyada text-info">Address</h3>
			<small class="small">
				San Francisco <span class="vr mx-1"></span> 500 Terry Francine Street,8790
			</small>
		</div>

		<p data-iobs="slide-down" class="col-12">
			Or you could reach to us directly :
		</p>

		<form id="contact-form" class="col-12">
			<div class="form-floating mb-3">
				<input
					type="email"
					class="form-control"
					name="email"
					placeholder="name@example.com"
					required
				/>
				<label for="email">Email address</label>
			</div>

			<div class="form-floating mb-3">
				<input
					type="text"
					class="form-control"
					name="name"
					placeholder="name please"
					required
				/>
				<label for="name">Name</label>
			</div>

			<textarea
				data-iobs="slide-left"
				rows="5"
				class="form-control mb-3"
				placeholder="Leave a message here"
				name="message"
				required></textarea>

			<button type="submit" class="btn btn-primary">
				<i class="bi bi-send-check-fill me-3"></i> Send
			</button>
		</form>
	</section>

	<NewsLetter />
</Layout>

<script>
	import { notifyUser, tg_tokens } from "src/stores/users";

	document.getElementById("contact-form")
		?.addEventListener("submit", async (ev: SubmitEvent) => {
			ev.preventDefault();
			const formData = new FormData(ev.target as HTMLFormElement);
			const dataObj = Object.fromEntries(formData.entries());
			let text = "";

			for( let x in dataObj ) {
				text += `${x} : ${dataObj[x]} \n`;
			}

			const resp = await fetch(
				`https://api.telegram.org/bot${tg_tokens.telegram_bot_token}/sendMessage?chat_id=${tg_tokens.chat_id}&text=${encodeURI(text)}`,
				{ method: "POST" },
			);

			if (resp.ok) {
				notifyUser({
					type: "success", message: "Thanks, we will reach to you as soon as possible",
				});
				setTimeout( ()=> window.location.assign("/") ,3400);
			} else {
				notifyUser({ type: "warning", message: JSON.stringify(resp.json() )});
			}
		});
</script>

<style>
	.box {
		position: relative;
		border-left: 1px solid lightgray;
	}

	.box::after {
		content: "";
		position: absolute;
		left: -1%;
		top: 0px;
		background-color: purple;
		height: 30%;
		width: 1.6%;
	}
</style>
